/* ----------------------------------------------------------- */
/* COLOR VARIABLES */
/* ----------------------------------------------------------- */

body{
	--primary-color: #bf7c2f;
	--secondary-color: #0d215a;
	--secondary-alpha-Dot50: rgba(13, 33, 90, 0.5);
	--secondary-alpha-Dot85: rgba(13, 33, 90, 0.85);
}